@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'TTLaundryGothicB';
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.button-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.selector-button, .draw-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.selector-button {
    background-color: #007bff;
    color: #fff;
}

.selector-button:hover {
    background-color: #0056b3;
}

.draw-button {
    background-color: #28a745;
    color: #fff;
}

.draw-button:hover {
    background-color: #218838;
}

.rule {
    margin-top: 20px;
}

.result {
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    margin-top: 10px;
    color: #555;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 20px;
    }

    .selector-button, .draw-button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .result {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 18px;
    }

    .selector-button, .draw-button {
        font-size: 12px;
        padding: 6px 12px;
    }

    .result {
        font-size: 14px;
    }
}